html,body{
    padding: 0;
    margin: 0;
    
}
body{
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#quiz{
    background:#e3f6f5 ;
    width: 30rem;
    padding: 4rem;
    text-align: center;
}
h1{
    color: rgb(35, 61, 61);
    font-size: 3rem;
    text-align: center;
    padding: 2px 0;
}
#question{
    font-size: 1.7rem;
    color: rgb(35, 61, 61);
}
.button{
    background-color:#124b0a;
    color: aliceblue;
    width: 250px;
    font-size: 20px;
    border-radius:3rem ;
    padding: 10px 20px;
    margin: 10px 40px 10px;
    outline: 0;

}
.button:hover{
    cursor:pointer ;
    background: rgb(35, 61, 61);
}
.progress{
    font-size: 30px; 
    color: rgb(35, 61, 61);
}